services:
  ivr-server:
    build: .
    container_name: asterisk-ivr
    environment:
      # - ORACLE_HOME=/opt/oracle/instantclient_21_1
      # - LD_LIBRARY_PATH=/opt/oracle/instantclient_21_1
      # - TNS_ADMIN=/etc/oracle # Optional: if you use a tnsnames.ora file
      - ORACLE_HOME=/opt/oracle/instantclient_19_19
      - LD_LIBRARY_PATH=/opt/oracle/instantclient_19_19
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/oracle/instantclient_19_19
    ports:
      - "80:80"             # Apache Web
      - "5060:5060/udp"     # SIP
      - "5038:5038"         # AMI (Management)
      - "10000-10050:10000-10050/udp" # RTP Audio
    volumes:
      # - ./cgi-bin:/usr/lib/cgi-bin
      # - ./agi-bin:/var/lib/asterisk/agi-bin
      # - ./config:/etc/asterisk

      - ./oracle_config:/etc/oracle
      - ./config/extensions.conf:/etc/asterisk/extensions.conf
      - ./ami/manager.conf:/etc/asterisk/manager.conf
      - ./agi-bin:/var/lib/asterisk/agi-bin
      - ./cgi-bin/dashboard.pl:/usr/lib/cgi-bin/dashboard.pl
      - ./sounds:/var/lib/asterisk/sounds
      - ./scripts/hello_world.pl:/var/lib/asterisk/agi-bin/hello_world.pl
    restart: unless-stopped